<div id="container" class="container">
	<header class="page-header heading">
		<h1>Welcome to Sweepbook</h1>
		<h1><small>Guess where the competitors will finish to win a prize!</small></h1>
	</header>

	<div id="main" role="main">
		<div id="warning-alert" class="alert-message warning">
			<a id="warning-alert-close" class="close" href="#">&times;</a>
			<p id="warning-alert-msg-already-taken" class="warning-alert-msg"><strong>Whoops!</strong> Looks like you chose a time that is already taken. Use the slider to choose a free slot, and try again...</p>
			<p id="warning-alert-msg-none-selected" class="warning-alert-msg"><strong>Whoops!</strong> You need to select at least one runner to enter...</p>
		</div>
		<div class="row">
			<div class="span7 columns">
				<div id="sweep-table-header-row" class="row">
					<% @competitors.each do |c| %>
					<div class="span3 columns sweep-table-competitor-name" data-competitor-id="<%= c.id %>">
						<div class="input-prepend slider-competitor-label">
							<label class="add-on active"><input type="checkbox" checked="checked"></label>
							<span id="competitor-name-<%= c.id %>" class="uneditable-input competitor-name-active"><%= c.name %></span>
						</div>
					</div>
					<% end %>
				</div>
				<div class="row">
					<% @competitors.each do |c| %>
					<div class="span3 columns slider-ctn">
						<div id="slider-<%= c.id %>" data-competitor-id="<%= c.id %>" class="sweep-slider"></div>
					</div>
					<% end %>
				</div>
			</div>
			<div class="span6 columns">
				<div id="donate-btn-well">
					<!-- TODO make donate_btn link to donation modal using href, progressive enhancement -->
					<a id="donate-btn" href="#" class="btn large success" >Enter Sweepstake</a>
				</div>
				<div id="event-info" class="alert-message block-message info">
					<!-- Dynamic: all content in the #event_info div should be pulled from the DB -->
					<h4 class="heading">Joe and Tom's Great North Run 2011</h3>
					<p>Joe Woodhouse and Tom Spencer are running the Great North Run on 18th September, 2011. They are running in support of the MS Trust.</p>
					<p>Sweepbook is a game where you guess how fast Joe and Tom will run the race. Slide the sliders to choose a time, and press the big green button above to enter the sweepstake.</p>
					<p>You'll be asked to donate some money and help Joe and Tom get to their sponsorship target.</p>
					<p>What are you waiting for? Give it a try!</p>	
					<%= image_tag "IMAG0057.jpg" %>
				</div>
			</div>
		</div> <!-- end of row -->
	</div> <!-- end of #main -->
</div> <!--! end of #container -->

<!-- This div is to grey out the entire background when the modal appears -->
<!-- TODO check X-platform compatibility -->
<div id="donate-modal-reveal" class="reveal-modal">
	<h2>Almost there!</h2>
	<p>There's just a few little things left to do.</p>
	<ul id="donate-steps" class="unstyled">
		<li id="donate-label-step1">
			<h4>Step 1</h4>
			<p>Connect to Facebook</p>
		</li>
		<li id="donate-label-step2">
			<h4>Step 2</h4>
			<p>Reserve your choice</p>
		</li>
		<li id="donate-label-step3">
			<h4>Step 3</h4>
			<p>Place your donation</p>
		</li>
		<li id="donate-label-step4">
			<h4>Step 4</h4>
			<p>Post to your wall</p>
		</li>
	</ul>
	<div id="donate-action-zone">
		<div id="donate-action-step1">
			<h5>Connect to Facebook</h5>
			<p>Before you confirm your choices, you need to connect to Facebook. This will let us contact you if you win the sweepstake.</p>
			<p>To do this, click the button below.</p>
			<fb:login-button perms="publish_stream,offline_access" show-faces="true"></fb:login-button>
			<a class="close-reveal-modal modal-dismiss">&#215;</a>
		</div>
		<div id="donate-action-step2">
			<h5>You chose the following times:</h5>
			<ul id="donation-modal-choices-list"></ul>
			<p>If you are OK with these times, click the button below to proceed.</p>
			<p>If you need to change your choices, just click the X in the top right hand corner of this pop-up box to return.</p>
			<a class="close-reveal-modal modal-dismiss">&#215;</a>
		</div>
		<div id="donate-action-step3">
			<h5>Donate to Charity</h5>
			<p>Your choices have been saved... now, its time to donate!</p>
			<p>We are running for the MS Trust, who help people that suffer from multiple sclerosis. We suggest that you donate £3 per choice you made, but any extra would be gratefully received.</p>
			<p>We are using <strong><a class="donation-anchor" href="http://www.justgiving.com/GeeksGoRunning" target="blank">Just Giving</a></strong> to take your donation. Click on the button below to visit the JustGiving site.
				It will open a new window - once you've finished donating, come back here for the last step.</p>
				<!--		<a id="donation-external-btn" class="btn primary donation-anchor" href="http://www.justgiving.com" target="blank">Donate on Just Giving site</a> -->
				<a id="donation-external-btn" class="btn primary donation-anchor" href= 'http://www.justgiving.com/GeeksGoRunning' alt='JustGiving - Sponsor me now!' target='blank'><img src='http://www.justgiving.com/App_Themes/JustGiving/images/badges/badge10.gif' width='270' height='50'></a>
			</div>
			<div id="donate-action-step4">
				<h5>All done!</h5>
				<p>Thank you for taking the time to donate to our good cause. Your money will help the MS Trust to continue their brilliant work.</p>
				<p>The race takes place on 18th September. We will let you know afterwards what time we achieved and whether you won the sweepstake!</p>
				<p>If it's not too cheeky, we would like to post a short message to your Facebook wall, telling the world (or at least your friends) how generous you have been. This will also help us to get the word out about our run and hopefully raise more money for MS Trust.</p>
				<p>If you don't want to post to your wall, just uncheck the box below.</p>
				<label>
					<input id="wallpost-checkbox" type="checkbox" checked="checked">
					<span>Post to my wall</span>
				</label>
			</div>
			<div id="donate-action-ajax-error">
				<h5>Oh dear, something went wrong.</h5>
				<p>This is embarrassing. It looks like somebody else might have taken your chosen slot, after all.</p>
				<p>I'm afraid you'll need to go back to the main page, and choose again. Press the button below to return.</p>
				<a class="close-reveal-modal modal-dismiss">&#215;</a>
				<a id="donate-action-close-btn" href="#" class="btn primary modal-dismiss">Choose Again</a>
			</div>
		</div>
		<div class="btn-well">
			<div id="donate-loading-spinner"></div>
			<a id="donate-action-next-btn" href="#" class="btn primary">Next</a>
			<a id="donate-action-finish-btn" href="#" class="btn success">Finish</a>
		</div>
	</div> <!-- end of #donate-modal-reveal -->